# [[코드업] Python 기초 100제](https://codeup.kr/problemsetsol.php?psid=33)

#### 6006

In [7]:
print('\"!@#$%^&*()\'')

"!@#$%^&*()'

#### 6007

"C:\Download\'hello'.py"  
(단, 따옴표도 함께 출력한다.)

In [13]:
print("\"C:\Download\\'hello'.py\"")

"C:\Download\'hello'.py"

#### 6008

print("Hello\nWorld")  
위 코드를 정확히 그대로 출력하시오.

In [15]:
print('print("Hello\\nWorld")')

print("Hello\nWorld")

#### 6009

In [17]:
c = input()
print(c)

 ed

ed

#### 6010

In [18]:
c = input()
c = int(c)
print(c)

 -1

-1

#### 6012

In [19]:
a = input()
b = input()
print(a)
print(b)

 2
 3

2
3

#### 6013

In [21]:
a = input()
b = input()
print(b)
print(a)

 a
 b

b
a

#### 6014

In [22]:
a = float(input())
print(a)
print(a)
print(a)

 3.14

3.14
3.14
3.14

#### 6015
공백을 두고 입력된정수(integer) 2개를 입력받아 줄을 바꿔 출력해보자.

In [27]:
a, b = input().split()
print(a)
print(b)

 a 2

a
2

#### 6016
공백을 두고 문자(character) 2개를 입력받아 순서를 바꿔 출력해보자.

In [32]:
a, b = str(input()).split()
print(b)
print(a)

 qkr dud

dud
qkr

#### 6017
정수(integer), 실수, 문자(character), 문자열(string) 등 1개만 입력받아 한 줄로 3번 출력해보자.

In [37]:
c = input()
print(c, c, c)

 1

1 1 1

#### 6018
24시간 **시:분 형식으로 시간이 입력**될 때, 그대로 출력하는 연습을 해보자.

In [41]:
a, b = input().split(':')
print(a, b, sep = ':')

 3:16

3:16

#### 6019

"연도.월.일"을 입력받아 "일-월-연도" 순서로 바꿔 출력해보자.

In [43]:
a, b, c = input().split('.')
print(c, b, a, sep='-')

 2021.02.04

04-02-2021

#### *6020*
주민번호를 입력받아 형태를 바꿔 출력해보자.  
'-'를 제외한 주민번호 13자리를 모두 붙여 출력한다.

In [45]:
a, b = input().split('-')
print(a, b, sep="")

 000907-1121112

0009071121112

#### 6021
알파벳과 숫자로 이루어진 단어 1개가 입력된다.  
입력받은 단어의 각 문자를 한 줄에 한 문자씩 분리해 출력한다.

In [50]:
a = str(input())
for i in range(len(a)):
    print(a[i])

 Hello

H
e
l
l
o

#### 6022
6자리의 연월일(YYMMDD)을 입력받아 나누어 출력해보자.  
년도(YY) 월(MM) 일(DD)을 공백으로 구분해 한 줄로 출력한다.

In [53]:
a = input()
print(a[0:2], a[2:4], a[4:6], sep=" ")

 971219

97 12 19

#### 6023
시:분:초 형식으로 시간이 입력될 때 분만 출력해보자.

In [58]:
a=input().split(':')
print(a[1])

 17:23:57

23

#### 6024
알파벳 문자와 숫자로 이루어진 단어 2개를 입력받아  
순서대로 붙여 출력하는 프로그램을 작성해보자.

In [59]:
a, b = input().split(' ')
print(a, b, sep='')

 hello world

helloworld

#### 6025
정수 2개를 입력받아 합을 출력하는 프로그램을 작성해보자.

In [64]:
a, b = input().split(' ')
print(int(a) + int(b))

 123 -123

0

#### 6026
실수 2개를 입력받아 합을 출력하는 프로그램을 작성해보자.

In [67]:
a = input()
b = input()
c = float(a) + float(b)
print(c)

 0.1
 0.9

1.0

#### *6027*
10진수를 입력받아 16진수(hexadecimal)로 출력해보자.

In [70]:
a = input()
n = int(a)
print('%x'%n)

 255

ff